In [1]:
# !pip install descartes
# !pip install geopandas
# !pip install pandas_bokeh

In [2]:
#!unzip FinalOutputs.zip

In [1]:
import geopandas as gpd
from shapely.geometry import Point
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import pandas_bokeh # library for visualization dashboard
import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs
from bokeh.models.widgets import Panel, Tabs
from bokeh.io import output_file, show
from bokeh.plotting import figure
from bokeh.layouts import layout

print('Libraries imported.')

Libraries imported.

In [2]:
pandas_bokeh.output_file("Classification Visualization.html")

In [3]:
# Read files from local machine
ctstats = gpd.read_file('/Users/lirui/Desktop/FredOutputs/CT_Stats.shp')
dbstats = gpd.read_file('/Users/lirui/Desktop/FredOutputs/DB_Stats.shp')
gridstats = gpd.read_file('/Users/lirui/Desktop/FredOutputs/GRID_Stats.shp')

# 1. Census Tract

In [4]:
ctstats.head()

,CTUID,PRNAME,CMANAME,CMATYPE,area,AvgSize,BldgCount,BD,BldgArea,BCR,ProxMean,ContCount,ContRatio,geometry
0,3200018.00,New Brunswick / Nouveau-Brunswick,Fredericton,K,7.735331e+08,118.494001,129,1.700000e-07,15285.726128,1.976000e-05,25.350592,4.0,0.031008,"POLYGON ((8138931.71143 1497922.59143, 8138472..."
1,3200019.00,New Brunswick / Nouveau-Brunswick,Fredericton,K,9.535850e+08,35.301770,1,0.000000e+00,35.301770,4.000000e-08,15.831832,NaN,NaN,"POLYGON ((8159361.934285 1538203.065715, 81591..."
2,3200020.00,New Brunswick / Nouveau-Brunswick,Fredericton,K,1.702733e+08,473.016172,8,5.000000e-08,3784.129374,2.222000e-05,36.395330,NaN,NaN,"POLYGON ((8136053.75143 1473282.38, 8136522.43..."
3,3200021.00,New Brunswick / Nouveau-Brunswick,Fredericton,K,2.190729e+07,150.348683,1083,4.944000e-05,162827.623879,7.432580e-03,10.572638,43.0,0.039705,"POLYGON ((8132383.78857 1467081.822855, 813210..."
4,3200008.00,New Brunswick / Nouveau-Brunswick,Fredericton,K,2.352070e+07,181.387583,2932,1.246600e-04,531828.393199,2.261108e-02,9.543879,215.0,0.073329,"POLYGON ((8126666.14857 1475869.73143, 8126683..."

### We need only the 5 statistics, the Census Tract ID and the geometry of the CT polygons

In [5]:
df_ct = ctstats.drop(['PRNAME','CMANAME','CMATYPE','area', 'BldgArea', 'BldgCount', 'ContCount'], axis=1)
df_ct = df_ct.dropna(axis='rows')
df_ct.head()

,CTUID,AvgSize,BD,BCR,ProxMean,ContRatio,geometry
0,3200018.00,118.494001,1.700000e-07,0.000020,25.350592,0.031008,"POLYGON ((8138931.71143 1497922.59143, 8138472..."
3,3200021.00,150.348683,4.944000e-05,0.007433,10.572638,0.039705,"POLYGON ((8132383.78857 1467081.822855, 813210..."
4,3200008.00,181.387583,1.246600e-04,0.022611,9.543879,0.073329,"POLYGON ((8126666.14857 1475869.73143, 8126683..."
5,3200004.00,232.138687,3.890500e-04,0.090314,6.566033,0.064110,"POLYGON ((8128060.222855 1475731.374285, 81280..."
6,3200023.00,128.080469,1.240000e-06,0.000159,11.033159,0.090686,"POLYGON ((8126328.474285 1476725.734285, 81263..."

## 1.1 Classification Task on the Census Tract data

### Creating Standardized/normalized data for scale invariance as below:

### For every given variable x we standardize it as: $\frac{(x-\mu)}{\sigma}$ , where $\mu$ is the mean and $\sigma$ is standard deviation

In [6]:
from sklearn.preprocessing import StandardScaler #for standardization

X = df_ct.values[:,1:-1] #we are taking only the 5 statistics
cluster_dataset = StandardScaler().fit_transform(X) #creating standard scalar from unscaled data a

/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

### k-means clustering on Census Tract

In [7]:
k_means = KMeans(init = "k-means++", n_clusters = 3, n_init = 12)
# fit the X value to the model
k_means.fit(cluster_dataset)
labels = k_means.labels_

In [8]:
new_lab = []
for label in labels:
    new_lab.append("Class "+str(label))

In [9]:
new_lab = np.asarray(new_lab)

In [10]:
df_ct['Labels'] = new_lab
df_ct['LabelNum']=labels
df_ct.head()

,CTUID,AvgSize,BD,BCR,ProxMean,ContRatio,geometry,Labels,LabelNum
0,3200018.00,118.494001,1.700000e-07,0.000020,25.350592,0.031008,"POLYGON ((8138931.71143 1497922.59143, 8138472...",Class 0,0
3,3200021.00,150.348683,4.944000e-05,0.007433,10.572638,0.039705,"POLYGON ((8132383.78857 1467081.822855, 813210...",Class 0,0
4,3200008.00,181.387583,1.246600e-04,0.022611,9.543879,0.073329,"POLYGON ((8126666.14857 1475869.73143, 8126683...",Class 0,0
5,3200004.00,232.138687,3.890500e-04,0.090314,6.566033,0.064110,"POLYGON ((8128060.222855 1475731.374285, 81280...",Class 1,1
6,3200023.00,128.080469,1.240000e-06,0.000159,11.033159,0.090686,"POLYGON ((8126328.474285 1476725.734285, 81263...",Class 0,0

In [11]:
df_ct['Labels'] = df_ct['Labels'].astype(object)

### Interpretation of Classes

In [12]:
CT_cluster0 = df_ct[df_ct.Labels=="Class 0"]

In [13]:
CT_cluster1 = df_ct[df_ct.Labels=="Class 1"]

In [14]:
CT_cluster2 = df_ct[df_ct.Labels=="Class 2"]

## 1.2 Visualization for classifications

### BCR visualization

In [15]:
ct_bcr = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Coverage Ratio': [CT_cluster0.median()["BCR"], CT_cluster1.median()["BCR"],CT_cluster2.median()["BCR"]]
  
}
df_ct_bcr = pd.DataFrame(ct_bcr).set_index("Class")

ct_bcr_bar = df_ct_bcr.plot_bokeh.bar(
    show_figure=False,
    figsize=(300, 200),  
    ylabel="value", 
    title="Building Coverage Ratio",
    color="blue",
    alpha=0.6)

### BD visualization

In [16]:
ct_bd = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Density': [CT_cluster0.median()["BD"], CT_cluster1.median()["BD"],CT_cluster2.median()["BD"]]
  
}
df_ct_bd = pd.DataFrame(ct_bd).set_index("Class")

ct_bd_bar = df_ct_bd.plot_bokeh.bar(
    show_figure=False,
    figsize=(300, 200),
    ylabel="value", 
    title="Building Density",
    color="purple",
    alpha=0.6)

### Proximity visualization

In [17]:
ct_p = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Proximity': [CT_cluster0.median()["ProxMean"], CT_cluster1.median()["ProxMean"],CT_cluster2.median()["ProxMean"]]
  
}
df_ct_p = pd.DataFrame(ct_p).set_index("Class")

ct_p_bar = df_ct_p.plot_bokeh.bar(
    figsize=(300, 200),
    show_figure=False, 
    ylabel="value", 
    title="Proximity",
    color="Green",
    alpha=0.6)

### Size visualization

In [18]:
ct_s = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Average Size': [CT_cluster0.median()["AvgSize"], CT_cluster1.median()["AvgSize"],CT_cluster2.median()["AvgSize"]]
  
}
df_ct_s = pd.DataFrame(ct_s).set_index("Class")

ct_s_bar = df_ct_s.plot_bokeh.bar(
    show_figure=False,
    figsize=(300, 200), 
    ylabel="value", 
    title="Average Size",
    color="Red",
    alpha=0.6)

### Contiguity Ratio visualization

In [19]:
ct_c = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    "Contiguity Ratio": [CT_cluster0.median()["ContRatio"], CT_cluster1.median()["ContRatio"],CT_cluster2.median()["ContRatio"]]
  
}
df_ct_c = pd.DataFrame(ct_c).set_index("Class")

ct_c_bar = df_ct_c.plot_bokeh.bar(
    figsize=(300, 200),
    show_figure=False, 
    ylabel="value", 
    title="Contiguity Ratio",
    color="Grey",
    alpha=0.6)

### Integrated visualization for census tract

In [20]:
Rct_class=df_ct.plot_bokeh(
    figsize=(900, 600),
    show_figure=False,
    category="LabelNum",
    show_colorbar=True,
    colormap="Viridis",
    hovertool_columns=['CTUID','Labels'],
    legend="Census Tract",
    toolbar_location="above",
    title="Classification for Census Tract")

In [21]:
ct = layout([[Rct_class],
                        [ct_bcr_bar, ct_bd_bar],
                        [ct_p_bar, ct_s_bar,ct_c_bar]],sizing_mode='fixed')

# 2. Dissemination Block

In [22]:
df_db = dbstats.drop(['PRNAME','CMANAME','CMATYPE','area', 'BldgArea', 'BldgCount', 'ContCount'], axis=1)

In [23]:
df_db = df_db.dropna(axis='rows')

In [24]:
df_db.head()

,DBUID,AvgSize,BD,BCR,ProxMean,ContRatio,geometry
1,13100169002,94.382806,0.000074,0.006989,9.000438,0.076517,"POLYGON ((8131473.282855 1481092.42, 8131473.8..."
2,13100169003,121.442266,0.001273,0.154543,3.308095,0.100000,"POLYGON ((8131278.14857 1481200.117145, 813128..."
3,13100169004,92.463317,0.001485,0.137343,5.486691,0.051282,"POLYGON ((8131146.74857 1480994.94, 8131149.04..."
4,13100169005,93.529626,0.000655,0.061247,5.138314,0.173913,"POLYGON ((8131473.282855 1481092.42, 8131480.5..."
6,13100170003,78.459693,0.001581,0.124043,3.903380,0.080000,"POLYGON ((8132052.342855 1479440.30857, 813204..."

## 2.1 Classification Task on the Dissemination Block data

In [25]:
X = df_db.values[:,1:-1] #we are taking only the 5 statistics
cluster_dataset = StandardScaler().fit_transform(X) #creating standard scalar from unscaled data a 
cluster_dataset

/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-0.25676964, -1.30051514, -1.36231792,  0.26686341, -0.50575756],
       [-0.20779868,  0.79255152,  0.49347729, -0.5651409 , -0.34231602],
       [-0.26024344,  1.16419472,  0.27714716, -0.24671292, -0.68139483],
       ...,
       [-0.29963364,  1.71438591,  0.15067125, -0.52856619,  0.12168657],
       [-0.10340962, -0.41970278, -0.14714146,  0.04606157, -0.43309914],
       [-0.21111882,  0.24384474, -0.00853089, -0.21608468, -0.53213527]])

In [26]:
k_means = KMeans(init = "k-means++", n_clusters = 3, n_init = 12)
# fit the X value to the model
k_means.fit(cluster_dataset)
labels = k_means.labels_

In [27]:
new_lab = []
for label in labels:
    new_lab.append("Class "+str(label))

In [28]:
new_lab = np.asarray(new_lab)

In [29]:
df_db['Labels'] = new_lab
df_db['LabelNum']=labels
df_db.head()

,DBUID,AvgSize,BD,BCR,ProxMean,ContRatio,geometry,Labels,LabelNum
1,13100169002,94.382806,0.000074,0.006989,9.000438,0.076517,"POLYGON ((8131473.282855 1481092.42, 8131473.8...",Class 1,1
2,13100169003,121.442266,0.001273,0.154543,3.308095,0.100000,"POLYGON ((8131278.14857 1481200.117145, 813128...",Class 0,0
3,13100169004,92.463317,0.001485,0.137343,5.486691,0.051282,"POLYGON ((8131146.74857 1480994.94, 8131149.04...",Class 0,0
4,13100169005,93.529626,0.000655,0.061247,5.138314,0.173913,"POLYGON ((8131473.282855 1481092.42, 8131480.5...",Class 1,1
6,13100170003,78.459693,0.001581,0.124043,3.903380,0.080000,"POLYGON ((8132052.342855 1479440.30857, 813204...",Class 0,0

In [30]:
df_db['Labels'] = df_db['Labels'].astype(object)

### Interpretation of Classes

In [31]:
DB_cluster0 = df_db[df_db.Labels=="Class 0"]
DB_cluster1 = df_db[df_db.Labels=="Class 1"]
DB_cluster2 = df_db[df_db.Labels=="Class 2"]

## 2.2 Visualization for classification

### BCR visualization

In [32]:
db_bcr = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Coverage Ratio': [DB_cluster0.median()["BCR"], DB_cluster1.median()["BCR"],DB_cluster2.median()["BCR"]]
  
}
df_db_bcr = pd.DataFrame(db_bcr).set_index("Class")

db_bcr_bar = df_db_bcr.plot_bokeh.bar(
    show_figure=False, 
    figsize=(300,200),
    ylabel="value", 
    title="Building Coverage Ratio",
    color="blue",
    alpha=0.6)

### BD visualization

In [33]:
db_bd = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Density': [DB_cluster0.median()["BD"], DB_cluster1.median()["BD"],DB_cluster2.median()["BD"]]
  
}
df_db_bd = pd.DataFrame(db_bd).set_index("Class")

db_bd_bar = df_db_bd.plot_bokeh.bar(
    show_figure=False,  
    figsize=(300,200),
    ylabel="value", 
    title="Building Density",
    color="purple",
    alpha=0.6)

### Proximity visualization

In [34]:
db_p = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Proximity': [DB_cluster0.median()["ProxMean"], DB_cluster1.median()["ProxMean"],DB_cluster2.median()["ProxMean"]]
  
}
df_db_p = pd.DataFrame(db_p).set_index("Class")

db_p_bar = df_db_p.plot_bokeh.bar(
    show_figure=False, 
    figsize=(300,200),
    ylabel="value", 
    title="Proximity",
    color="Green",
    alpha=0.6)

### Size visualization

In [35]:
db_s = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Average Size': [DB_cluster0.median()["AvgSize"], DB_cluster1.median()["AvgSize"],DB_cluster2.median()["AvgSize"]]
  
}
df_db_s = pd.DataFrame(db_s).set_index("Class")

db_s_bar = df_db_s.plot_bokeh.bar(
    show_figure=False, 
    figsize=(300,200),
    ylabel="value", 
    title="Average Size",
    color="Red",
    alpha=0.6)

### Contiguity Ratio visualization

In [36]:
db_c = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    "Contiguity Ratio": [DB_cluster0.median()["ContRatio"], DB_cluster1.median()["ContRatio"],CT_cluster2.median()["ContRatio"]]
  
}
df_db_c = pd.DataFrame(db_c).set_index("Class")

db_c_bar = df_db_c.plot_bokeh.bar(
    show_figure=False, 
    figsize=(300,200),
    ylabel="value", 
    title="Contiguity Ratio",
    color="Grey",
    alpha=0.6)

### Integrated visualization for Dessimination Blocks

In [37]:
Rdb_class=df_db.plot_bokeh(
    show_figure=False,
    figsize=(900, 600),
    category="LabelNum",
    show_colorbar=True,
    colormap="Viridis",
    hovertool_columns=['DBUID','Labels'],
    legend="Dessimination Block",
    toolbar_location="above",
    title="Classification for Dessimination Block")

In [38]:
db = layout([[Rdb_class],
                        [db_bcr_bar, db_bd_bar],
                        [db_p_bar, db_s_bar,db_c_bar]],sizing_mode='fixed')

# 3. 1 km<sup>2</sup> Grid

In [39]:
df_grid = gridstats.drop(['area', 'BldgArea', 'BldgCount', 'ContCount'], axis=1)

In [40]:
df_grid = df_grid.dropna(axis='rows')

In [41]:
df_grid.head()

,id,AvgSize,BD,BCR,ProxMean,ContRatio,geometry
1,6174,100.259455,0.000028,0.002807,21.719138,0.071429,"POLYGON ((8116757 1476130.3, 8117757 1476130.3..."
3,6303,128.774280,0.000176,0.022664,15.191105,0.062500,"POLYGON ((8117757 1477130.3, 8118757 1477130.3..."
4,6304,118.499905,0.000090,0.010665,12.712510,0.022222,"POLYGON ((8117757 1476130.3, 8118757 1476130.3..."
11,6436,119.111630,0.000058,0.006908,18.305036,0.086207,"POLYGON ((8118757 1474130.3, 8119757 1474130.3..."
12,6437,148.310204,0.000104,0.015424,14.591931,0.019231,"POLYGON ((8118757 1473130.3, 8119757 1473130.3..."

## 3.1 Classification Task on the Grid 1km^2 data

In [42]:
X = df_grid.values[:,1:-1] #we are taking only the 5 statistics
cluster_dataset = StandardScaler().fit_transform(X) #creating standard scalar from unscaled data a

/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/lirui/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [43]:
k_means = KMeans(init = "k-means++", n_clusters = 3, n_init = 12)
# fit the X value to the model
k_means.fit(cluster_dataset)
labels = k_means.labels_

In [44]:
new_lab = []
for label in labels:
    new_lab.append("Class "+str(label))

In [45]:
new_lab = np.asarray(new_lab)

In [46]:
df_grid['Labels'] = new_lab
df_grid['LabelNum']= labels
df_grid.head()

,id,AvgSize,BD,BCR,ProxMean,ContRatio,geometry,Labels,LabelNum
1,6174,100.259455,0.000028,0.002807,21.719138,0.071429,"POLYGON ((8116757 1476130.3, 8117757 1476130.3...",Class 1,1
3,6303,128.774280,0.000176,0.022664,15.191105,0.062500,"POLYGON ((8117757 1477130.3, 8118757 1477130.3...",Class 1,1
4,6304,118.499905,0.000090,0.010665,12.712510,0.022222,"POLYGON ((8117757 1476130.3, 8118757 1476130.3...",Class 1,1
11,6436,119.111630,0.000058,0.006908,18.305036,0.086207,"POLYGON ((8118757 1474130.3, 8119757 1474130.3...",Class 1,1
12,6437,148.310204,0.000104,0.015424,14.591931,0.019231,"POLYGON ((8118757 1473130.3, 8119757 1473130.3...",Class 1,1

In [47]:
df_grid['Labels'] = df_grid['Labels'].astype(object)

## Interpretation of Classes

In [48]:
GRID_cluster0 = df_grid[df_grid.Labels=="Class 0"]
GRID_cluster1 = df_grid[df_grid.Labels=="Class 1"]
GRID_cluster2 = df_grid[df_grid.Labels=="Class 2"]

## 3.2 Visualization for classification

### BCR visualization

In [49]:
gd_bcr = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Coverage Ratio': [GRID_cluster0.median()["BCR"], GRID_cluster1.median()["BCR"],GRID_cluster2.median()["BCR"]]
  
}
df_gd_bcr = pd.DataFrame(gd_bcr).set_index("Class")

gd_bcr_bar = df_gd_bcr.plot_bokeh.bar(
    show_figure=False,   
    figsize=(300,200),
    ylabel="value", 
    title="Building Coverage Ratio",
    color="blue",
    alpha=0.6)

### BD visualization

In [50]:
gd_bd = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Buliding Density': [GRID_cluster0.median()["BD"], GRID_cluster1.median()["BD"],GRID_cluster2.median()["BD"]]
  
}
df_gd_bd = pd.DataFrame(gd_bd).set_index("Class")

gd_bd_bar = df_gd_bd .plot_bokeh.bar(
    figsize=(300,200),
    show_figure=False,  
    ylabel="value", 
    title="Building Density",
    color="purple",
    alpha=0.6)

### Proximity visualization

In [51]:
gd_p = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Proximity': [GRID_cluster0.median()["ProxMean"], GRID_cluster1.median()["ProxMean"],GRID_cluster2.median()["ProxMean"]]
  
}
df_gd_p = pd.DataFrame(gd_p).set_index("Class")

gd_p_bar = df_gd_p.plot_bokeh.bar(
    figsize=(300,200),
    show_figure=False, 
    ylabel="value", 
    title="Proximity",
    color="Green",
    alpha=0.6)

### Size visualization

In [52]:
gd_s = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    'Average Size': [GRID_cluster0.median()["AvgSize"], GRID_cluster1.median()["AvgSize"],GRID_cluster2.median()["AvgSize"]]
  
}
df_gd_s = pd.DataFrame(gd_s).set_index("Class")

gd_s_bar = df_gd_s.plot_bokeh.bar(
    show_figure=False, 
    figsize=(300,200),
    ylabel="value", 
    title="Average Size",
    color="Red",
    alpha=0.6)

### Contiguity Ratio

In [53]:
gd_c = {
    'Class':['Class 1', 'Class 2', 'Class 3'],
    "Contiguity Ratio": [GRID_cluster0.median()["ContRatio"], GRID_cluster1.median()["ContRatio"],GRID_cluster2.median()["ContRatio"]]
  
}
df_gd_c = pd.DataFrame(gd_c).set_index("Class")

gd_c_bar = df_gd_c.plot_bokeh.bar(
    figsize=(300,200),
    show_figure=False, 
    ylabel="value", 
    title="Contiguity Ratio",
    color="Grey",
    alpha=0.6)



### Integrated visualization for Grid 1km^2

In [54]:
Rgd_class=df_grid.plot_bokeh(
    show_figure=False,
    figsize=(900, 600),
    category="LabelNum",
    show_colorbar=True,
    colormap="Viridis",
    hovertool_columns=['id','Labels'],
    legend="1km^2 Grid",
    toolbar_location="above",
    title="Classification for 1km^2 Grid")

In [55]:
gd=layout([[Rgd_class],
                        [gd_bcr_bar, gd_bd_bar],
                        [gd_p_bar, gd_s_bar,gd_c_bar]], sizing_mode='fixed')

# 3. Integrated visualization for 3 Geographic Units

In [56]:
tab1 = Panel(child=ct,title="Census Tract")
tab2 = Panel(child=db,title="Dissimination Classification")
tab3 = Panel(child=gd,title="Grid 1km^2 Classification")
tabs = Tabs(tabs=[ tab1 ,tab2, tab3])

In [57]:
p1 = layout([[Rdb_class],
                        [db_bcr_bar, db_bd_bar],
                        [db_p_bar, db_s_bar,db_c_bar]],sizing_mode='fixed')

In [58]:
show(tabs)